.button {
  background: #333;
  border: none;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: * 0.2s ease-in-out; /* Animations are optional but are a "delight" to users */
}
.button:hover,
.button:focus {
  background: #111; /* Hover and focus states are important for accessibility */
}
.button:active {
  transform: translateY(3px);
}

/* Sizes */
.button.large {
  font-size: 1.1rem;
  padding: 0.6rem 1.1rem;
}
.button.small {
  font-size: 0.6rem;
  padding: 0.4rem 0.8rem;
}

/* Colors */
.button.primary {
  background: coral;
}
/* Need hover state overrides for EVERY color */
.button.primary:hover,
.button.primary:focus {
  background: #d16841;
}
.button.secondary {
  background: steelblue;
}
.button.secondary:hover,
.button.secondary:focus {
  background: #396a93;
}
.button.terciary {
  background: seagreen;
}
.button.terciary:hover,
.button.terciary:focus {
  background: #267247;
}

/* Disabled */
.button[disabled] {
  opacity: 0.5;
  pointer-events: none; /* Do this to prevent :hover from applying */
}

/* Rounded */
.button.round {
  border-radius: 50rem; /* Why not 50%? */
}
