.row {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}
.col {
  padding: 0.5rem;
  grid-column: span 12;
}
.col.one-half {
  grid-column: span 6;
}
.col.one-third {
  grid-column: span 4;
}
.col.two-thirds {
  grid-column: span 8;
}
.col.one-fourth {
  grid-column: span 3;
}
.col.three-fourths {
  grid-column: span 9;
}
.col.one-sixth {
  grid-column: span 2;
}
.col.five-sixths {
  grid-column: span 10;
}
